@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Mono', monospace;
  background-color: #212121;
}

a:hover {
  color: #ef933f;
}

@layer utilities {
  /* Add border to child elements. Makes it easy to debug. */
  .debug * {
    border-color: white;
    border-width: 1px;
  }
}
