main.about {
  color: #f8f6f1;
}
main.about .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

main.about span {
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  font-weight: 400;
}

main.about .heading > svg.circle {
  position: absolute;
  z-index: -1;
}

main.about h4 {
  font-family: Georgia, 'Public Sans';
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-style: italic;
  font-size: 1.3em;
}

main.about .info {
  margin: 0 2.5rem;
}

main.about p {
  margin: 0;
  font-weight: 200;
}

main.about .Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 320px) {
  main.about span {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: auto;
    width: 12rem;
  }

  main.about .heading {
    width: 20rem;
  }

  main.about .heading > svg.circle {
    width: 100px;
    height: 100px;
    top: auto;
    left: 0;
    position: static;
    margin: auto;
  }

  main.about h4 {
    font-size: 1.4rem;
  }

  main.about .grid-container {
    margin: 0 1rem;
  }

  main.about p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  main.about a {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 481px) {
  main.about span {
    font-size: 2.5rem;
  }

  main.about .heading {
    width: 30rem;
  }
  main.about .heading > svg.circle {
    width: 150px;
    height: 150px;
  }

  main.about p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media only screen and (min-width: 769px) {
  main.about span {
    font-size: 2.8rem;
  }

  main.about .heading {
    width: inherit;
  }

  main.about .heading > svg.circle {
    width: 200px;
    height: 200px;
  }

  main.about .grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 19rem 19rem;
    grid-template-rows: 15rem;
    gap: 0 2rem;
    grid-template-areas: '. .';
  }

  main.about h4 {
    margin-top: 0;
    font-size: 1.7rem;
  }

  main.about p {
    line-height: 1.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  main.about span {
    font-size: 3rem;
  }

  main.about h4 {
    font-size: 2rem;
  }
  main.about .grid-container {
    grid-template-columns: 30rem 30rem;
    gap: 0 4rem;
  }

  main.about .heading > svg.circle {
    width: 240px;
    height: 240px;
  }

  main.about p {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
}

@media only screen and (min-width: 1900px) {
  main.about span {
    font-size: 4rem;
  }
  main.about h4 {
    font-size: 3rem;
  }
  main.about p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
  }
  main.about .grid-container {
    grid-template-columns: 35rem 35rem;
  }

  main.about .heading > svg.circle {
    left: 65rem;
  }
}

@media only screen and (min-width: 2000px) {
  main.about .heading h3 {
    margin: 0 0 0 100rem;
  }

  main.about .grid-container {
    grid-template-columns: 45rem 45rem;
  }

  main.about .heading > svg.circle {
    width: 300px;
    height: 300px;
    margin: 0 3rem;
  }
}
