main h1 {
  font-style: italic;
  text-align: center;
}

main h3 {
  text-align: center;
  font-weight: 300;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Small Screen Size */
@media only screen and (max-width: 767px) {
  main svg {
    width: 20rem;
    height: 25rem;
  }
}

/* Desktop Medium */
@media only screen and (min-width: 768px) {
  main svg {
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 2000px) {
  main svg {
    margin: 2rem 0;
    width: 40rem;
    height: 45rem;
  }
}
