.wrapper {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bkg {
  position: fixed !important;
  z-index: -1;
  margin: auto;
  opacity: 0.3;
}
main div.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 320px) {
  main div.name .line {
    width: 14vw;
  }

  .bkg {
    width: 50%;
  }

  .collage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 2rem 0;
  }

  .collage {
    height: fit-content;
    width: fit-content;
  }

  .collage img {
    z-index: -1;
  }

  main div.name h1 {
    font-size: 7vw;
  }

  main div.name {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 481px) {
  main div.name .line {
    width: 15vw;
    height: min-content;
    margin: 0 1rem;
  }

  .collage-wrapper {
    width: 55%;
  }

  .collage img {
    z-index: -1;
  }
}

@media only screen and (min-width: 769px) {
  main div.name h1 {
    font-size: 4vw;
  }

  main div.name {
    justify-content: space-around;
  }

  main div.name .line {
    width: 16vw;
  }

  .bkg {
    width: 30%;
  }

  .collage-wrapper {
    margin-top: 5rem;
    width: 35%;
  }

  main div.name {
    margin-top: 5rem;
  }

  main .name > h1 {
    position: relative;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 18vw;
    height: 18vw;
    top: -14vw;
    left: 0;
    z-index: -1;
  }
}

@media only screen and (min-width: 1200px) {
  main div.name .line {
    width: 12vw;
  }

  main .name h1 {
    font-size: 10rem;
  }

  .bkg {
    width: 25%;
  }

  .collage-wrapper {
    width: 32%;
    height: 28%;
    margin-top: 15rem;
  }

  main div.name {
    margin-top: 8vw;
    height: fit-content;
    width: fit-content;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 16vw;
    height: 16vw;
    top: -12vw;
    left: 0;
    z-index: -1;
  }
}

@media only screen and (min-width: 1900px) {
  main div.name .line {
    width: 14rem;
  }

  main .name h1 {
    font-size: 4.5rem !important;
  }

  .collage-wrapper {
    width: 40rem;
    height: 40rem;
    margin-top: 13rem;
  }
  .bkg {
    width: 18%;
  }

  main div.name {
    margin-top: 1rem;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 18rem !important;
    height: 18rem !important;
    top: -13rem;
    left: 1rem;
    z-index: -1;
  }
}
