.wrapper {
  height: calc(100vh - 5rem);
}

.mid-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main div.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 320px) {
  main div.name .line {
    width: 14vw;
  }

  .collage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10vw 0 -10vw;
  }

  .collage {
    height: fit-content;
    width: fit-content;
  }

  .collage img {
    z-index: -1;
  }

  main div.name h1 {
    font-size: 6vw;
  }

  main div.name {
    margin-top: -8vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 481px) {
  main div.name .line {
    width: 19vw;
    height: min-content;
    margin: 0 1rem;
  }
  .collage-wrapper {
    width: 70%;
    margin: 10vw 0 0;
  }

  .collage img {
    z-index: -1;
  }

  main div.name {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  main div.name h1 {
    font-size: 4vw;
  }

  main div.name {
    justify-content: space-around;
  }

  main div.name .line {
    width: 16vw;
  }

  .collage-wrapper {
    width: 50%;
    margin: 10vw 0 0;
  }

  main .name > h1 {
    position: relative;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 18vw;
    height: 18vw;
    top: -14vw;
    left: 0;
    z-index: -1;
  }
}

@media only screen and (min-width: 1200px) {
  main div.name .line {
    width: 12vw;
  }

  main .name h1 {
    font-size: 10rem;
  }
  .collage-wrapper {
    width: 80%;
    height: 80%;
    margin: 4vw 0 0;
  }

  .collage {
    height: fit-content;
    width: fit-content;
  }

  main div.name {
    margin: 2rem;
    height: fit-content;
    width: fit-content;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 16vw;
    height: 16vw;
    top: -12vw;
    left: 0;
    z-index: -1;
  }
}

@media only screen and (min-width: 1900px) {
  main div.name .line {
    width: 14rem;
  }

  main .name h1 {
    font-size: 4.5rem !important;
  }

  .collage {
    margin: 5vh 0 0 30rem;
    width: 35rem;
    height: 35rem;
  }
  .collage img {
    width: 30rem !important;
    height: 35rem !important;
  }

  main .name > h1 > svg.circle {
    position: absolute;
    width: 18rem !important;
    height: 18rem !important;
    top: -14rem;
    left: 1rem;
    z-index: -1;
  }

  main div.name {
    margin-top: 3vw;
  }
}
