main.contact {
  font-style: italic;
  text-transform: lowercase;
}
main.contact h1 {
  font-weight: 200;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

main.contact h2 {
  font-weight: 100;
  letter-spacing: 0.2rem;
  background-color: var(--color-theme-blue-0);
}

main.contact a:nth-child(even) > h2 {
  background-color: var(--color-theme-grey-1);
}
main.contact a:nth-child(even) {
  color: black;
  text-align: right;
}

main.contact .disc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main.contact p {
  margin: 0;
  padding: 0;
  color: var(--color-theme-blue-0);
}

main.contact .disc:hover p {
  color: var(--color-theme-white);
}

main.contact a:nth-child(even):hover {
  color: var(--color-theme-blue-0);
}
@media only screen and (min-width: 320px) {
  main.contact h2 {
    font-size: 1.3rem;
    height: 4rem;
    width: 15rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
  }
}
@media only screen and (min-width: 481px) {
  main.contact h2 {
    font-size: 1.5rem;
    height: 4rem;
    width: 20rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
  }
}
@media only screen and (min-width: 769px) {
  main.contact h1 {
    font-size: 2.3rem;
  }
  main.contact h2 {
    font-size: 2rem;
    height: 4rem;
    width: 50vw;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  main.contact h1 {
    font-size: 2.5rem;
  }
  main.contact h2 {
    font-size: 2.2rem;
    height: 4.2rem;
    width: 60vw;
    padding: 1rem 0.8rem;
    margin: 0.5rem 0;
  }
}
@media only screen and (min-width: 1900px) {
  main.contact h1 {
    font-size: 3rem;
  }
  main.contact h2 {
    font-size: 2.2rem;
    height: 4.2rem;
    width: 70rem;
    padding: 1rem 0.8rem;
    margin: 0.5rem 0;
  }
}
